%div.list{ "data-id" => list.id }
  %div.title
    %div.handle= link_to "delete", list_path(list), :remote => true, :method => :delete, :class => "destroy"
    %div.name= list.name
    %div.share= link_to_function "share"
  = render "tasks/sharing_form", :list => list
  = render 'tasks/form', :list => list
  = render 'tasks/list', :tasks => list.tasks, :list_id => list.id
  = render 'reorder_form', :list => list
