= form_tag share_list_path(list), :class => :share_list, :remote => true, :method => :put do
  = hidden_field_tag "username", nil, :id => nil, :class => "username"
  = text_field_tag nil, nil, :id => nil, :class => "ac_username"
  = submit_tag "add"
%ul.share_users
  - list.collaborators.order(:name.asc).reject{|u| u.id == current_user.id }.each do |u|
    = render "sharing_user", :user => u
%a.share_close{ :href => "javascript:;" } Close
