= hidden_field_tag "search_path", search_users_path
= form_tag share_list_path(list), :id => :share_list, :remote => true, :method => :put do
  = hidden_field_tag "username", nil, :id => nil, :class => "username"
  = text_field_tag nil, nil, :id => nil, :class => "ac_username"
  = submit_tag "add"
%ul
  - list.users.each do |u|
    %li
      %p= gravatar_image_tag u.email, :align => :left, :gravatar => { :size => 24 }
      %p= u.username
%a.share_close{ :href => "javascript:;" } Close
