%div{ "data-id" => task.id, "data-path" => list_task_path(task.list, task), "data-task" => task.title, :class => "item #{closed_class(task)}"}
  %div{ :class => "checkbox #{closed_class(task)}" }
    = link_to toggle_close_list_task_path(@list, task), :remote => true, :method => :put do
      Complete
  %div.star
    %a{ :href => "#" } Star
  %div.delete
    = link_to list_task_path(@list, task), :remote => true, :method => :delete do
      Delete
  %div.project-title
  %div.preview
    %div.title 
      = task.title
    / %div.excerpt 
    /   By golee, I am a note!
    /   Sweeeet
    /   What about another line?