%li.task{ "data-id" => task.id, "data-path" => group_list_task_path(group, list, task), "data-task" => task.title,
     "data-reorder-path" => insert_at_group_list_task_path(group, list, task), :class => "#{closed_class(task)}"}
  %div{ :class => "checkbox #{closed_class(task)}" }
    = link_to toggle_close_group_list_task_path(group, list, task), :remote => true, :method => :put do
      Complete
  %div.star{ :class => (task.important? ? "starred" : nil) }
    = link_to toggle_important_group_list_task_path(group, list, task), :remote => true, :method => :put do
      Star
  %div.delete
    = link_to group_list_task_path(group, list, task), :remote => true, :method => :delete do
      Delete
  %div.project-title
  %div.preview
    %div.title 
      = auto_link(task.title, :html => { :target => '_blank' }) do |text|
        - text.sub(%r(^http://(www\.)?), "")