!!!
%html
  %head
    %title Tasklist
    = stylesheet_link_tag "common"
  %body
    %ul#hmenu
      = render "devise/menu/registration_items"
      = render "devise/menu/login_items"
    %p{ :style => "color: green" }= notice
    %p{ :style => "color: red" }= alert
    = yield
    = javascript_include_tag :defaults
    = render "common/pusher"
    = javascript_include_tag "common"